bitstring #used for binary parsing in rtcm_scheme.py
cutie #text based menus in user_program, config.py and other tools
geotiler==0.15.1  #map library for user_program map
matplotlib #graphing, requirement for PySimpleGUI
numpy #vector math, used in calibration/validation/plotting
pandas #csv processing
Pillow==10.4.0 #image processing, used for arrow in user_program map tab
pylru #least recently used cache, for user_program map caching
pyrtcm #rtcm message parsing in rtcm_scheme.py
pyserial #serial port library
PySimpleGUI-4-foss==4.60.4.1   #graphics in user_program.py
